@font-face {
  font-family: Futura;
  src: url("/futura/futura medium bt.ttf");
}

html,
body,
#page-view {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: #fbfbfb; */
}


/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
*/

/*
body {
  background: #eef2f3; 
  background: -webkit-linear-gradient(to right, #eef2f3, white);
  background: linear-gradient(to right, #eef2f3, white);
}
*/

.ql-mention-list-container {
  z-index: 99999999;
}